<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SvnHub</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<style>
    .project_info{
        height: 200px;
        background-color: beige;
        padding: 15px
    }

    .project{
        padding-bottom: 15px;
    }

    .project_title{
        font-style: oblique;
        font-weight: 500;
        font-size: 1.3em;
    }

    .project_content{
        font-family: sans-serif ;
        font-weight: 300;
    }

    strong{
        font-weight: 500;
    }


</style>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% if msg is not none %}
            {% if msg %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Congrats!</strong> File is uploaded successfully.
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong> Failed to upload file.
                </div>
            {% endif %}
        {% endif %}
        <div class="row">
            {% for project in projects %}
                <div class="col-md-4 col-lg-4 col-sm-6 project">
                    <div class="project_info">
                        <p class="project_title"><a href="{{ APP_ROOT }}/tree/{{ project }}">{{ project }}</a></p>
                        <div class="project_content">
                            <p>Author: <strong>{{ projects[project]["author"] }}</strong></p>
                            <p>Latest Revision: <strong><a href="/rev/{{ projects[project]["revision"] }}">{{ projects[project]["revision"] }}</a></strong></p>
                            <p>Latest Update: <strong>{{ projects[project]["date"] }}</strong></p>
                            <p>Commit Message: <strong>{{ projects[project]["message"] }}</strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row" style="display: none">
            <div class=" col-md-6 col-md-offset-3 col-lg-4 col-sm-6">
                <div class="jumbotron">
                    <div class="container">
                        <form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>
                            <div class="form-group">
                                <label for="list">List File</label>
                                <input type="file" id="list" name="list">
                            </div>
                            <div class="form-group">
                                <label for="list">Log File</label>
                                <input type="file" id="list" name="log">

                            </div>
                            <input class="form-control" type=submit value=Upload>
                        </form>
                    </div>
                </div>
            </div>
        </div style=>
    </div>

    {% include 'script.html' %}

</body>
</html>