<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SvnHub</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        body {
            height: 100%;
        }
        .modal-body {
            max-height: 80vh;
        }

        iframe{
            min-height: 450px;
            max-height: 100vh;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Path: </h4>
                <ol class="breadcrumb">
                {% set id = "" %}
                {% for path in url %}
                    {% set id = id + "/" + path %}
                    <li><a href="{{ APP_ROOT }}/tree{{ id }}">{{ path }}</a></li>
                {% endfor %}
                </ol>
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Type</th>
                        <th>Author</th>
                        <th>Rev</th>
                        <th>Date</th>
                        <th>Message</th>
                        <th>History</th>
                    </thead>
                    <tbody>
                        {% for dir in dirs %}
                            <tr>
                                <td class="text-nowrap">
                                    <a href="/tree/{{ dir }}">{{ dirs[dir]["name"] }}</a>
                                </td>
                                <td> - </td>
                                <td> Directory </td>
                                <td class="text-nowrap">
                                    {{ dirs[dir]["author"] }}
                                </td>
                                <td class="text-nowrap">
                                    <a href="/rev/{{ dirs[dir]["revision"] }}">{{ dirs[dir]["revision"] }}</a>
                                </td>
                                <td class="text-nowrap">
                                    {{ dirs[dir]["date"] }}
                                </td>
                                <td class="text-nowrap">
                                    {{ dirs[dir]["message"] }}
                                </td>
                                <td class="text-nowrap">
                                    <a href="/hist/{{ dir }}">History</a>
                                </td>

                            </tr>
                        {% endfor %}
                        {% for file in files %}
                            <tr>
                                <td class="text-nowrap">
                                    <a class="open_modal" data-toggle="modal" data-target=".bs-example-modal-lg" href="{{ APP_SVN }}{{ _url }}/{{ files[file]["name"] }}">{{ files[file]["name"] }}</a>
                                </td>
                                <td>
                                    {{ files[file]["size"] }}
                                </td>
                                <td>
                                    {{ files[file]["type"] }}
                                </td>
                                <td class="text-nowrap">
                                    {{ files[file]["author"] }}
                                </td>
                                <td class="text-nowrap">
                                    <a href="/rev/{{ files[file]["revision"] }}">{{ files[file]["revision"] }}</a>
                                </td>
                                <td class="text-nowrap">
                                    {{ files[file]["date"]}}
                                </td>
                                <td class="text-nowrap">
                                    {{ files[file]["message"] }}
                                </td>
                                <td class="text-nowrap">
                                    <a href="{{ APP_ROOT }}/hist/{{ _url }}/{{ files[file]["name"] }}">History</a>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Code Snippet</h4>
                </div>
                <div class="modal-body">
                    <iframe id="frame_src" style="width:100%; max-height:100%"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    {%  include 'script.html' %}

    <script>

        $('iframe').load(function() {
            this.style.height = this.contentWindow.document.body.offsetHeight + 'px';
        });

        $('.open_modal').on('click', function(){
            var src = this.href;
            $("#frame_src").attr("src", src);
        })

    </script>
</body>
</html>